<!DOCTYPE html>

<html lang="ja">
<head>
<meta charset="UTF-8">
<style type="text/css">
.work{
  color: green;
}
.task{
  color: lime;
}
.deadline{
  color: red;
}
.test{
  color: blue;
}
.play{
  color: olive;
}
.else{
  color: gray;
}
</style>
<title>過去スケジュール</title>
</head>
<body>
<h1>過去スケジュール</h1>

<br>
<a href="schedule"><big>戻る</big></a>
<hr>
<form action="{% url 'main:edit' %}" method="get">{% csrf_token %}
{% for d in data %}
  {{ d.year }} /
  <big>{{ d.month }}</big> /
  <big>{{ d.day }}</big> /
  {{ d.time }}
  <button type="submit" name={{ d.S_id }}><big>編集</big></button>
  {% if d.importance == True %}
    ＊＊重要＊＊
  {% endif %}

  {% if d.category == '1' %}
    <h2 class="work">{{ d.task }}</h2>
  {% elif d.category == '2' %}
    <h2 class="task">{{ d.task }}</h2>
  {% elif d.category == '3' %}
    <h2 class="deadline">{{ d.task }}</h2>
  {% elif d.category == '4' %}
    <h2 class="test">{{ d.task }}</h2>
  {% elif d.category == '5' %}
    <h2 class="play">{{ d.task }}</h2>
  {% elif d.category == '6' %}
    <h2 class="else">{{ d.task }}</h2>
  {% else %}
    <h2>{{ d.task }}</h2>
  {% endif %}
  <p>{{ d.details }}</p>
  <hr>
{% endfor %}
</form>
</body>
</html>